<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790868712723-cdfg9dpadreea2ut1tom417ngroabj3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790868712723-cdfg9dpadreea2ut1tom417ngroabj3i</string>
	<key>API_KEY</key>
	<string>AIzaSyDVJPJaDkwb83aQENdwSlgHxYEp7g9x5y8</string>
	<key>GCM_SENDER_ID</key>
	<string>790868712723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aly3ye-virginia.edu.JacketStash-PROD</string>
	<key>PROJECT_ID</key>
	<string>jacketstash-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>jacketstash-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790868712723:ios:384c98976426a68bcc0ee6</string>
</dict>
</plist>